body {
    margin: 0px;
    padding-top: 800px;
}

.PROFILE {
    width: 275px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#SEC {
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    width: 100%;
    position: absolute;
    height: 800px;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: table;
}

h1 {
    font-size: 40px;
    line-height: 1.0;
    font-weight: 300;

}

#NAME {
    font-size: 30px;
    font-family: cursive;
}

h2 {
    font-size: 30PX;
    font-weight: 300;
    font-family: 'Akaya Telivigala', cursive;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 40px;
}

.line {
    height: 10px;
    background-color: black;
    width: 80px;
    margin: 50px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;

}

.iner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.link {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    list-style:none;
    font-size:25px;
    
}

.b{
    position:absolute;
    top:10px;
    z-index: 9;
    right:30px;
}

.link:hover{
    background-color: darkblue;
}
